<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZabuo1GJ3d6l7Ry6upIFaCbr6Sh6Rck4</string>
	<key>GCM_SENDER_ID</key>
	<string>546418221172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prepvrse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prepvrse</string>
	<key>STORAGE_BUCKET</key>
	<string>prepvrse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546418221172:ios:ea8ca77b2e9a0fc0f93121</string>
</dict>
</plist>